<header class="container">
	<div class="row">
		<div class="col-lg-3">
			<h1><%= header %></h1>
		</div>
		<div class="col-lg-9">
			<nav>
				&emsp;
				<a href="/"><button class="btn">Home</button></a>
				&emsp;
				<a href="/issues"><button class="btn">Issues</button></a>
				&emsp;
				<a href="/technicians"><button class="btn">Technicians</button></a>
			</nav>
		</div>
	</div>
</header>