<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <section class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><%= subHeader %></h1>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>